html,
body {
  min-height: 100%;
/*  background-color: #1f2227 !important;
*/}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
h5, .h5 {
  margin: 0.5rem 0px;
  font-size: 1.25rem;
}
.text-gray-500 {
  color: #4b535f!important;
}
.slideWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.slideItem{
  cursor: pointer;
}
.slideItem:hover{
  transform: scale(1.03);
}
.slideItem p {
  margin: 0px;
  color: #c6cbd1!important;
  font-size: 14px;
  padding: 0.5rem;
  text-align: center;
}
.slideItemImage{
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: auto;
  background-color: #333;
  max-height: 245px;
}
.slideItem {
  position: relative;
  padding-bottom: 1.5rem!important;
  padding-top: 0.5rem!important;
}


.swiper {
  width: 100%;
  height: auto;
}
.footer p {
  color: #868e96!important;
  font-size: 12px;
  text-align: center;
}

.detailImage{
  border-radius: 0.8rem!important;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
}
.detailHeading{
  font-size: 1.25rem;
  font-weight: 700;
}
img.detailImg {
  width: 100%;
  height: auto;
  border-radius: 0.8rem!important;
}
.subDetail {
  display: flex;
  padding: 10px 0px;
  border-bottom: 1px solid #dddddd54;
}

.subDetail span {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 25px;
}

.subDetail h5 {
  font-size: 14px;
  font-weight: 400;
  margin:0px;
}
.catdet{
  cursor: pointer;
}
.locbox{
  cursor: pointer;
}
.locbox:hover{
  background: #1f2227;
    border-radius: 10px;
}
.catdet:hover{
  background: #21262b;
}
.contactLine{
  margin: 11px;
  text-align: center;
  color: #8e8e8e;
  font-weight: 500;
}
.dayLine {
  font-size: 0.9em;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dayLine2 {
  font-size: 0.9em;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5em;
}
.descPara{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}
input.PhoneInputInput {
  border: 0px;
  outline: 0;
}
.PhoneInput {
  background: #fff;
  padding: 13px;
  border-radius: 5px;
  margin-bottom: 25px;
}
.bannerImage{
  width: 100%;
  height: 450px;
  position: relative;
  background-size: cover;
  background-position: bottom center;
}
img.sliderImage {
  border-radius: 20px;
  --aspect-ratio: 8/3;
  aspect-ratio: 8/3;
}
.itemImage{
  width: auto;
  margin: auto;
  display: block;
  height: 100px;
  margin-top: calc(50% - 50px);
}
img.itemImage1 {
  aspect-ratio: 1;
  border-radius: 20px;
  width: 100%;
}
@media (max-width:769px) {
  img.sliderImage {
    border-radius: 20px;
    --aspect-ratio: 1;
    aspect-ratio: 1;
}
.slideItemImage {
  height: 170px;
}
}
@media (max-width: 394px){
  .slideItemImage {
      height: 142px;
  }
}