html,
body {
  min-height: 100%;
  overflow-x: hidden !important;
/*  background-color: #1f2227 !important;
*/}

#__next {
  height: 100%;
}
/* Changes start */
.ticketform div {
  padding: 3px;
  margin-top: 5px;
  color: #9692ad;
}
/* changes end */
code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
h5, .h5 {
  margin: 0.5rem 0px;
  font-size: 1.25rem;
}
.text-gray-500 {
  color: #4b535f!important;
}
.slideWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.slideItem{
  cursor: pointer;
}
.slideItem:hover{
  transform: scale(1.03);
}
.slideItem p {
  margin: 0px;
  color: #c6cbd1!important;
  font-size: 14px;
  padding: 0.5rem;
  text-align: center;
}
.slideItemImage{
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: auto;
  background-color: #333;
  max-height: 245px;
}
.slideItem {
  position: relative;
  padding-bottom: 1.5rem!important;
  padding-top: 0.5rem!important;
}


.swiper {
  width: 100%;
  height: auto;
}
.footer p {
  color: #868e96!important;
  font-size: 12px;
  text-align: center;
}

.detailImage{
  border-radius: 0.8rem!important;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
}
.detailHeading{
  font-size: 1.25rem;
  font-weight: 700;
}
img.detailImg {
  width: 100%;
  height: auto;
  border-radius: 0.8rem!important;
}
.subDetail {
  display: flex;
  padding: 10px 0px;
  border-bottom: 1px solid #dddddd54;
}

.subDetail span {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 25px;
}

.subDetail h5 {
  font-size: 14px;
  font-weight: 400;
  margin:0px;
}
.catdet{
  cursor: pointer;
}
.locbox{
  cursor: pointer;
}
.locbox:hover{
  background: #1f2227;
    border-radius: 10px;
}
.catdet:hover{
  background: #21262b;
}
.contactLine{
  margin: 11px;
  text-align: center;
  color: #8e8e8e;
  font-weight: 500;
}
.dayLine {
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dayLine2 {
  font-size: 0.8em;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5em;
}
.descPara{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}
input.PhoneInputInput {
  border: 0px;
  outline: 0;
}
.PhoneInput {
  background: #fff;
  padding: 13px;
  border-radius: 5px;
  margin-bottom: 25px;
  border: 1px solid #ddd;
}
.bannerImage{
  width: 100%;
  height: 450px;
  position: relative;
  background-size: cover;
  background-position: bottom center;
}
img.sliderImage {
  border-radius: 20px;
  --aspect-ratio: 8/3;
  aspect-ratio: 8/3;
}
.itemImage{
  width: auto;
  margin: auto;
  display: block;
  height: 100px;
  margin-top: calc(50% - 50px);
}
img.itemImage1 {
  aspect-ratio: 1;
  border-radius: 20px;
  width: 100%;
}

.calenderDate{
      display: inline-block;
    padding: 5px 29px;
    border: 1px solid #ddd;
    border-radius: 19px;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}
.cartLeft h5 {
  margin: 0px;
  font-weight: 400!important;
  font-size: 14px;
}
.cartLeft p {
  margin-top: 0px;
  font-weight: 400!important;
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 16px;
}
.cartRight h4 {
  font-weight: 700;
    margin-top: 7px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0px;
    width: 120px;
}
.seatHeader {
  background: #ffffff38;
  margin: 0px;
  padding: 10px;
  text-align: center;
  border-radius: 0px;
}

ul.seatList {
  list-style: none;
}

ul.seatList li {
  padding: 4px 0px;
}

ul.seatList li p {
  margin: 0px;
}

ul.seatList li button {
  font-size: 10px;
  padding: 3px 10px !important;
}
.colors {
  display: flex;
    flex-wrap: wrap;
}
.colors a.active {
  border: 3px solid #fff;
}
.colors a {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  margin-top: 10px;
  border: 3px solid transparent;
  border-radius: 14px;
}
.rowinput{
  padding: 4px;
    margin-left: 7px;
    font-size: 17px;
    text-align: center;
}
ul.filterList {
  padding: 0px;
  padding-right: 20px;
  border-bottom: 1px solid #474747;
  margin: 0px;
  list-style: none;
}

.filterList li {
  padding: 4px 0px;
}
.searchForm{
  /* position: absolute;
  left: 155px; */
  position: relative;
  margin-top: 15px;
}
input#searchInput {
  background: #333333;
  padding: 10px;
  min-width: 207px;
  border-radius: 5px;
  color:#ddd;
  padding-right: 40px;
  border: 0px;
}
.searchForm button{
  position: absolute;
  background: transparent;
  right: 0;
  border: 0px;
  padding: 6px;
  color: #ddd;
}
.para-text p{
font-size: 14px;
}
.about-box {
  background: #40bed2;
  padding: 50px 90px;
  margin: 50px 0px;
  border-radius: 14px;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 20%);
  font-size: 14px;
}
.about-box p,.about-box h1{
  color:#333; 

}
.about-logo {
  text-align: center;
  margin: 33px;
}

.about-logo img {
  max-width: 200px;
}
.contact-content h3{
  font-size: 26px;
  color: #000;
  margin: 0px;
}
.contact-content p{
    font-size: 16px;
    color: #000;
}

.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1f2227;
  z-index: 999;
  padding: 6px 0px;
  display: none;
}

.mobile-footer ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.mobile-footer li p {
  font-size: 0.5em;
  margin: 0px;
  line-height: 16px;
}
.mobile-footer li.active{
  color:#FFB400;
}
.login-cont {
  margin-top: 100px;
  padding: 20px;
  text-align: center;
}
.catRemove{
  display: none;
}
ul.prlist {
    margin: 0px;
    padding: 0px;
    list-style: none;
    min-width: 250px;
}

.prlist li {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.prlist li span {
       width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: inline-block;
    margin-right: 7px;
    float: left;
}
ul.ticketList {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

ul.ticketList li {
   margin: 10px 0px;
    justify-content: space-between;
    width: 100%;
    display: flex;
}
ul.ticketList li span {
    font-weight: 600;
}
.bottomBlock{
  position: fixed;
  z-index: 99;
  bottom: 10px;
  left: 0;
  right: 0;
  max-width: 600px;
  background: #ddd;
  border-radius: 8px;
  margin: auto;
  padding: 10px;
}
@media (max-width:769px) {
  .bottomBlock{
    position: fixed;
    z-index: 99;
    bottom: 70px !important;
    left: 10px;
    right:10px;
  }
.dideList{
  display: none;
}
  .dideList.active {
    display: block;
    position: fixed;
    z-index: 9999;
    background: #333;
    text-align: center;
    width: calc(100% - 40px);
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
}
.catRemove{
  display: block;
}
.dideList h3 {
  text-align: left;
  padding-left: 15px;
}
span.catRemove {
  position: absolute;
  right: 15px;
  top: 21px;
}
  .mobile-footer{
    display: block;
  }
  .searchForm{
    display: none;
  }
  img.sliderImage {
    border-radius: 20px;
    --aspect-ratio: 1;
    aspect-ratio: 1;
}
.slideItemImage {
  height: 170px;
}
.logo-center{
  text-align: center;
}
}
@media (max-width: 394px){
  .slideItemImage {
      height: 142px;
  }
}
.blankSVG{
  fill:black
}
.SelectedSVG{
  fill:orange
}
.selectedRect{
  outline: thick solid black;
  outlineOffset: 5px;

}
.uploadbtn {
  background: #9155fd;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 6px;
  font-weight: 600;
}
.user-seat-selected{
  fill:rgb(1, 105, 36)

}